enter candidate
set / routing-policy prefix-set system_ip
set / routing-policy prefix-set system_ip prefix 10.0.0.0/16 mask-length-range 16..32
set / routing-policy policy all
set / routing-policy policy all default-action
set / routing-policy policy all default-action policy-result accept
set / routing-policy policy system_ip
set / routing-policy policy system_ip statement 10
set / routing-policy policy system_ip statement 10 match
set / routing-policy policy system_ip statement 10 match prefix-set system_ip
set / routing-policy policy system_ip statement 10 action
set / routing-policy policy system_ip statement 10 action policy-result accept
commit now
